<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="d-flex">
  
  <!-- SIDEBAR -->
  <div class="bg-dark text-white p-3" style="width: 240px; min-height: 100vh;">
    <h4 class="text-center mb-1 fw-bold mt-4">Apotek</h4>
    <p class="text-center mb-4">SMK JAYA</p>

    <ul class="nav nav-pills flex-column gap-2">
      <li class="nav-item">
        <a href="/dashboard" class="nav-link text-white">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a href="/masterData" class="nav-link text-white">
          MasterData
        </a>
      </li>
      <li class="nav-item">
        <a href="/Log" class="nav-link text-white">
          Log Aktifitas
        </a>
      </li>
      <li class="nav-item">
        <a href="/obat" class="nav-link text-white">
          Kelola Obat
        </a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link text-white">
          Laporan
        </a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link text-white">
          Transaksi
        </a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link text-white">
          Kelola User
        </a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link text-white">
          Logout
        </a>
      </li>
    </ul>
  </div>

  <!-- CONTENT -->
  <div class="flex-grow-1 p-4 bg-light">
    <%- body %>
  </div>

</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
